body{
    background-color: burlywood;
    width: 70%;
    margin: auto;
    padding: 7px;
}

#border{
    border-style: solid;
    border-color: black;
    height: 100%;
    padding: 1.5em;
}

#img1{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

#img2{
    float:right;
    margin-left: 20px;
    margin-bottom: 30px;
}

#img3{
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}